@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}



<div class="WorkoutHead">
    <h1>Whether you want to get stronger,</h1>
    <h2>faster or maybe more agile,</h2>
    <h3>there is a workout for you.</h3>
</div>
    
<div class="container p-3" >
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Group Workouts</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> 
               <i class="bi bi-plus-square"></i> &nbsp; Create New Workout
                </a>
        </div>  

    </div>
    <div>
        <input type="text" placeholder='Search note...'class="col-sm-12 col-lg-5 p-2" />
    </div>
    <br/><br/>


    <table class="table table-info">
        <thead>
            <tr class="table-success">
                <th>
                    Workouts
                </th>
                <th>
                     Participants
                </th>
                <th>
                     Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr class="table-info">
                    <td width="30%">
                        @obj.Workout
                    </td>
                    <td width="30%">
                        @obj.Participant
                    </td>
                    <td width="10%">
                        @obj.CreatedDateTime
                    </td>
                    <td>
                        
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"
                            class="btn btn-secondary btn-sm mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"
                            class="btn btn-danger btn-sm mx-2">
                                <i class="bi bi-trash"></i> Delete
                            </a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>