@model IEnumerable<Note>
@{
    ViewData["Title"] = "NoteView";
}
<h3 class="WorkoutHead">“No matter how slow you go you’re still lapping everyone on the couch.”</h3>
<div class="container p-3" >
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Gym Program</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Note" asp-action="CreateProgram" class="btn btn-primary"> 
               <i class="bi bi-plus-square"></i> &nbsp; Create New Program
                </a>
        </div>  

    </div>
    <br/><br/>




        @foreach(var obj in Model)
        {
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">@obj.NoteTitle</div>
                <div class="card-body">
                <h4 class="card-title">@obj.NoteText</h4>
                <p class="card-text">@obj.Day</p>
                </div>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Note" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-secondary btn-sm mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Note" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger btn-sm mx-2">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
            </div>
        }


</div>